{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row py-2">
<div class="col-sm-12" style="background:light;">
<div class="row">
    <div class="col-sm-4" style="min-height:300px;">
        <img src="{% static 'images/A1.jpg'%}" style="height:100%;width:100%">
    </div>
    <div class="col-sm-1 bg-light "></div>
    <div class="col-sm-7 bg-light " style="min-height:300px;">
        <h3 class="text-center py-3 "><u style="color:orange;">ABOUT <span style="color:navy;">US</span></u></h3>
<h3><u>Paradies Tour</u></h3>
        <p style="text-align:justify;">Since 1975, ‘Organization Name’ has been focused on bringing our customers the best in esteem and quality travel game plans. We are enthusiastic about movement and sharing the world’s marvels on the relaxation travel side,
            and giving corporate explorers hello there contact administrations to encourage their business travel needs.</p>
        <p style="text-align:justify;">We’re a worker claimed travel organization secured by our qualities, trustworthiness and commitment to client benefit. Our honor winning organization reliably positions as a standout amongst other offices in the nation (Travel Weekly, Business Travel Weekly), and is a best individual
            from the renowned Signature Travel Network, an overall association enabling us to give our clients unmatched advantages.</p>



    </div>
    <div class="row">
            <p>The format changed over time. The Tour originally ran around the perimeter of France.
                Cycling was an endurance sport, and the organisers realised the sales they would achieve by creating
                supermen of the competitors. Night riding was dropped after the second Tour in 1904,
                when there had been persistent cheating when judges could not see riders.
                That reduced the daily and overall distance, but the emphasis remained on endurance.
                Desgrange said his ideal race would be so hard that only one rider would make it to Paris.
                The first mountain stages (in the Pyrenees) appeared in 1910. Early tours had long multi-day stages,
                with the format settling on 15 stages from 1910 until 1924. After this, stages were gradually shortened,

                </p>
        </div>
    <div class="row">
        <div class="col-sm-8">
            <p>The mountains classification is the second-oldest jersey awarding classification in the Tour de France.
                The mountains classification was added to the Tour de France in the 1933 edition and was first won by
                Vicente Trueba.[90][92] Prizes for the classification were first awarded in 1934.
                During stages of the race containing climbs, points are awarded to the first riders to reach the
                top of each categorized climb, with points available for up to the first 10 riders, depending
                on the classification of the climb. Climbs are classified according to the steepness and length of
                that particular hill, with more points available for harder climbs. The classification was preceded by
                the meilleur grimpeur (English: best climber) which was awarded by the organising newspaper l'Auto to
                a cyclist who completed each race.</p><br/>
            <p>The mountains classification is the second-oldest jersey awarding classification in the Tour de France.
                The mountains classification was added to the Tour de France in the 1933 edition and was first won by
                Vicente Trueba.[90][92] Prizes for the classification were first awarded in 1934.
                During stages of the race containing climbs, points are awarded to the first riders to reach
                the top of each categorized climb, with points available for up to the first 10 riders,
                depending on the classification of the climb. Climbs are classified according to the steepness
                and length of that particular hill, with more points available for harder climbs.
                The classification was preceded by the meilleur grimpeur (English: best climber) which was awarded
                by the organising newspaper l'Auto to a cyclist who completed each race.
            </p>

        </div>
        <div class="col-sm-4" style="min-height:300px;">
             <img src="{% static 'images/sli1.jpg'%}" style="height:100%;width:100%">
        </div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------------->
    <div class="row">
        <div class="col-sm-12 bg-light" style="min-height:200px;"></div>
    </div>

</div>
</div>

{% endblock %}
